head{
  color: #3a2700;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #3a2700;
    background: #ebe7e7;
  }



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }

  footer.footer-page{
    background-color: rgb(187, 178, 178);
    text-align: center;
    padding: 14px 16px;
    font-style: italic;
    color: #282b1be1;
  }

