* {
    box-sizing: border-box;
  }
  

  /* Style the header */
  .header {
    background-color: #989991e1;
    padding: 10px;
    text-align: center;
    font-size: 30px;
    font-style: oblique;
    color: #e9dfdf;
    background-size: 800px 500px;
    background-position: top;
    background-attachment: fixed;
  }
  
  /* Create three equal columns that floats next to each other */
  .column {
    float: left;
    width: 50%;
    padding: 20px;
    background-color:rgb(255, 255, 255);
    font-style: italic;
    
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  

  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media (max-width: 600px) {
    .column {
      width: 100%;
    }
  }

  img { 
       width: 100%;
        height: auto;
}

.list {
    background-color: rgb(255, 255, 255);
}

body {
  background-color: white;
}
