
.card::after {
  content: "";
  clear: both;
  display: table;
}

.card img {
    float: left;
    padding: 15px;
  }

.info {
    padding: 70px 0;
}

.review img{
  float: left;
  padding: 15px;
}

