
.card::after {
  content: "";
  clear: both;
  display: table;
}

.card img {
  margin-left: 50px;
  margin-top: 70px;
  margin-right: 150px;
  float: left;
}

.container{
  padding-top: 170px;
  margin-right: 150px;
}

div b{
  margin-bottom: 50px;
}

