form {
    text-align: center;
    margin-bottom: 200px;
}

body {
    background-image: url('../static/img/movies.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  
mark {
    background: white;
    color: #003366;
  }

h1 {
  margin-top: 200px;
}