<!-- @Author Xinyao -->
{% extends 'movieworld/base.html' %}
{% load staticfiles %}

{% block title_block %}
	About MovieWorld
{% endblock %}

{% block body_block %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'polls/about.css'%}">
</head>

	<center><h1>About Movie World</h1></center>
		<div>
			Here is the about page.<br />
			<strong>This website is a movie-rating platform.</strong><br />
		</div>
		<div>	
			<img src="{% static "img/logo.jpg" %}" alt="Movie World logo" /> 
		</div>
{% endblock %}
