<!-- @Author Xinyao -->
<!DOCTYPE html>
{% load staticfiles %}


<html>
    <head>
        <link rel="stylesheet" href="{% static 'polls/baseStyle.css' %}">

        <link href="{% static '/img/logo4.jpg' %}" rel="icon">
        <title>
            MovieWorld - 
            {% block title_block %}

            {% endblock %}
        </title>
    </head>
    <body>
        <div>
            <ul>
                <li><a href="{% url 'movieworld:index' %}">Index</a></li>
                {% if user.is_authenticated %}
                <li style="float:right"><a href="{% url 'movieworld:logout' %}">Logout</a></li>
                <li style="float:right"><a href="{% url 'movieworld:movies' %}">Reviews</a></li>
                <li><a href="{% url 'movieworld:search' %}">Search Your Movie</a ></li>
                {% else %}
                <li style="float:right"><a href="{% url 'movieworld:sign_up' %}">Sign Up</a></li>
                <li style="float:right"><a href="{% url 'movieworld:login' %}">Login</a></li>           
                {% endif %}
                <li style="float:right"><a href="{% url 'movieworld:about' %}">About</a ></li>
            </ul>
        </div>
        <div>
            {% block body_block %}
                
            {% endblock %}
        </div>
        <div>
            {% block side_block %}
            
            {% endblock %}
        </div>
        <hr />

        <footer class="footer">
            Group One ITECH Project
        </footer>
    </body>
    
</html>


