<!-- @Author Xinyao -->
<!DOCTYPE html>
{% load staticfiles %}


<html>
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv = "X-UA-Compatible" content = "ie=edge">
        
        <link rel="stylesheet" href="{% static 'polls/baseStyle.css' %}">

        <link href="{% static '/img/smalllogo.png' %}" rel="icon">
        <title>

            MovieWorld - 
            {% block title_block %}

            {% endblock %}
        </title>
        
        <link rel="stylesheet" href="{% static 'polls/baseStyle.css' %}">
        <link href="{% static 'img/logo4.jpg' %}" rel="icon">
    </head>
    <body>
        <div>
            <ul>
                <li class="logo"><img src="{% static "img/smalllogo2.png" %}" alt="Movie World logo" /> </li>
                <li><a href="{% url 'movieworld:index' %}">Index</a></li>
                {% if user.is_authenticated %}
                <li style="float:right"><a href="{% url 'movieworld:logout' %}">Logout</a></li>
                <li style="float:right"><a href="{% url 'movieworld:my_reviews' %}">My Reviews</a></li>
                <li style="float:left"><a href="{% url 'movieworld:reviews_all' %}">Reviews</a></li>
                <li><a href="{% url 'movieworld:search' %}">Search Your Movie</a ></li>
                {% else %}
                <li style="float:right"><a href="{% url 'movieworld:sign_up' %}">Sign Up</a></li>
                <li style="float:right"><a href="{% url 'movieworld:login' %}">Login</a></li>           
                {% endif %}
                <li style="float:right"><a href="{% url 'movieworld:about' %}">About</a ></li>
            </ul>
        </div>

            {% block body_block %}
            {% endblock %}
        

        <div>
            {% block side_block %}
            {% endblock %}
        </div>

        <hr />
        <footer class="footer-page">
            <b>GROUP ONE ITECH PROJECT</b> 
        </footer>

      <script src='{% static 'js/jquery-3.6.0.js' %}' ></script>
      <script src='{% static 'js/sign_up.js' %}' ></script>
      <script src='{% static 'js/login.js' %}' ></script>
      <script src='{% static 'js/my_reviews.js' %}' ></script>
      <script src='{% static 'js/reviews_all.js' %}' ></script>
    </body>
    
</html>


