<!-- @Author Xinyao -->
<!DOCTYPE html>
{% load staticfiles %}


<html>
    <head>
        <title>
            MovieWorld - 
            {% block title_block %}

            {% endblock %}
        </title>
    </head>
    <body>
        <div>
            {% block body_block %}
                
            {% endblock %}
        </div>
        <div>
            {% block side_block %}
            
            {% endblock %}
        </div>
        <hr />
        <div>
            <ul>
                {% if user.is_authenticated %}
                <li><a href="{% url 'movieworld:logout' %}">Logout</a></li>
                {% else %}
                <li><a href="{% url 'movieworld:sign_up' %}">Sign Up</a></li>
                <li><a href="{% url 'movieworld:login' %}">Login</a></li>            
                {% endif %}
                <li><a href="{% url 'movieworld:index' %}">Index</a></li>
            </ul>
        </div>
    </body>
    
</html>


