<!-- @Author Xinyao -->

{% extends 'movieworld/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Index
{% endblock %}

{% block body_block %}
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'polls/index.css' %}">
</head>

<div class="header" style="background-image:url('../static/img/movies.jpg');">
	<h2><strong>Welcome to Movie World!</strong></h2> 
  </div>
  
  <div class="row">
	<div class="column" >
		<center><h2>PICK OF THE WEEK<br></h2>
			Harry Potter and the Philosopher's Stone</center></div>
	<div class="column" >
		<center><h2>TOP 5 FILMS</h2>
		
		{% if movies %}
			<ul class="list">
			{% for review in reviews %}
				{%for movie in movies%}
			
				{% if movie.id == review.movie %}
					<p><b>{{movie.title}}</b></p>
				{% endif %}

				{%endfor%}				

				<br/>
			{% endfor %}
			</ul>
		{% else %}
			<p>There are no movie present.</p>
		{% endif %}</center></div>
  </div>	

{% endblock %}
