<!-- @Author Xinyao -->

{% extends 'movieworld/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Index
{% endblock %}

{% block body_block %}
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'polls/index.css' %}">
</head>

<div class="header">
	<h2><strong>Welcome to Movie World!</strong></h2> 
  </div>
  
  <div class="row">
	<div class="column" >
		<center><h2>Movie of the Week<br></h2>
			Harry Potter and the Philosopher's Stone(2001)</center></div>
	<div class="column" >
		<center><h2>Top 5 Movies</h2>
		
			
		{% if movies %}
			<ul class="list">
			{% for movie in movies %}
				
					<p>{{ movie.title }}</p>
				<br/>
			{% endfor %}
			</ul>
		{% else %}
			<p>There are no movie present.</p>
		{% endif %}</center></div>
  </div>	

{% endblock %}
