{% extends 'movieworld/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Login
{% endblock %}

{% block body_block %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'polls/sign_up.css'%}">
</head>

<form class='form' id="login_form" method="post" action="{% url 'movieworld:login' %}">
    <h1 class='title'>Login</h1>
      {% csrf_token %}

    <div class='inputdiv'>
        <input type="text" class='input' name="username" id='username' value="" size="50" placeholder="a" />
        <label class='label'>Username</label>
    </div>

    <div class='inputdiv'>
        <input type="password" class='input' name="password" id='password' value="" size="50" placeholder="a" />
        <label class='label'>Password</label>
    </div>

<div class='msg'> <span id='msg' > {{msg}} </span></div>

    <input type="button" value="submit" id='submit' class='submit' />
</form>

{% endblock %}