{% extends 'movieworld/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Review
{% endblock %}

{% block body_block %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'polls/review.css'%}">
</head>

    <div class="card">
        <img src="{{ movie.poster.url }}">
        <div class="container">
            <label class='title'>{{ movie.title }}</label>
            <br>
            <i class='plot'>{{ movie.plot }}</i>
            <form method="post" action="" role="form" >
                {% csrf_token %}
            <div class='number'>
                {{ form.review_number }}
            </div>
            <br>
            <div>
                <label for="textarea1">Comment</label><br/>
                {{ form.review }}
            </div>
            <button type="submit" name="action" class='re-btn'>Review</button>
            </form>
        </div>
    </div>  

{% endblock %}
