{% extends 'movieworld/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Review
{% endblock %}

{% block body_block %}
    <div>
        <img src="{{ movie.poster.url }}">
        <div>
            <b>{{ movie.title }}</b>
            <br>
            <p>{{ movie.plot }}</p>
            <form method="post" action="" role="form" >
                {% csrf_token %}
            <div>
                {{ form.review_number }}
            </div>
            <div>
                {{ form.review }}
              <label for="textarea1">Comment</label>
            </div>

            <button type="submit" name="action">Review</button>
            </form>
    </div>  
{% endblock %}