{% extends 'movieworld/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Movies | {{ movie_data.Title }}
{% endblock %}

{% block body_block %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'polls/reviews.css'%}">
</head>
    {% if database is True %}
    <div class="card">
        <img src="{{ movie_data.poster.url }}">
        <div class="info">
            <h1> Title: {{ movie_data.title }} </h1>
            <h5> Year: {{  movie_data.year }} </h5>
            <h5> Language: {{ movie_data.language }} </h5>
            <p>Genre:<b>{{ movie_data.genre }}</b></p>
        </div>
        <div>
            <a href="{% url 'movieworld:reviews' movie_data.movie_id%}">Review</a>
        </div>
    </div>
    {% else %}
    <div class="card">
        <img src="{{ movie_data.Poster }}">
        <div class="info">
            <h1> Title: {{ movie_data.Title }} </h1>
            <h5> Year: {{  movie_data.Year }} </h5>
            <h5> Language: {{ movie_data.Language }} </h5>
            <p>Genre: <b>{{ movie_data.Genre }} </b></p>
        </div>
        <div>
            <a href="{% url 'movieworld:reviews' movie_data.imdbID%}">Review</a>
        </div>
    </div>
    {% endif %}

    <div class="review">
        <h4><b>REVIEWS:</b></h4><br>

        {% for review in reviews %}
            <li>
            {% if review.user.profile.picture %}
                <img src="{{ review.user.profile.picture.url }}" alt="">
            {% else %}
                <img src="{% static 'img/avatar2.jpeg' %}" alt="">
            {% endif %}

                <div>@{{ review.user.username }}</div>
                <div>{{ review.date }}</div>
                <div>{{ review.review_number }}/5</div>
                <div>{{ review.review }}</div>
                
            </li>
        {% endfor %}
    </div>

{% endblock %}