{% extends 'movieworld/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Movies | {{ movie_data.Title }}
{% endblock %}

{% block body_block %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'polls/reviews.css'%}">
</head>
    {% if database is True %}
    <div class="card">
        <img src="{{ movie_data.poster.url }}">
        <div class="info">
            <h1> Title: {{ movie_data.title }} </h1>
            <p><b> Year: {{  movie_data.year }} </b></p>
            <p><b> Language: {{ movie_data.language }} </b></p>
            <p><b>Genre:{{ movie_data.genre }}</b></p>
        </div>
        <div>
            <a class='make-btn' href="{% url 'movieworld:reviews' movie_data.movie_id%}">Make your Review</a>
        </div>
    </div>
    {% else %}
    <div class="card">
        <img src="{{ movie_data.Poster }}">
        <div class="info">
            <h1> Title: {{ movie_data.Title }} </h1>
            <p><b> Year: {{  movie_data.Year }} </b></p>
            <p><b> Language: {{ movie_data.Language }} </b></p>
            <p><b>Genre: {{ movie_data.Genre }} </b></p>
        </div>
        <div>
            <a class='make-btn' href="{% url 'movieworld:reviews' movie_data.imdbID%}">Make your Review</a>
        </div>
    </div>
    {% endif %}

    <hr class='hr'>

    <div class="reviews" >
        <h4  class='reviews-header'><b>REVIEWS:</b></h4><br>

        {% for review in reviews %}
         <ul class='ul_white'>
            <li class='li_pic'>
            {% if review.user.profile.picture %}
                <img src="{{ review.user.profile.picture.url }}" alt="aa">
            {% else %}
                <img src="{% static 'img/avatar2.jpeg' %}" alt="">
            {% endif %}
                </li>
                <li class='li'>@{{ review.user.username }}</li>
                <li class='li'>{{ review.date }}</li>
                <li class='li'>{{ review.review_number }}/5</li>
            </ul>
            <ul class='ul_reviews'><li class='li_reviews'> {{ review.review }}</li> </ul>
            <br/>
        {% endfor %}
    </div>

{% endblock %}
