{% extends 'movieworld/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Search
{% endblock %}

{% block body_block %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'polls/search.css' %}">
</head>

<center><h1 class="m-5"><mark>Search for a Movie</mark></h1></center>
<form>
    <div>
        {% csrf_token %}
        <input id="textarea1" name="title" value="{{ request.GET.title }}"  placeholder= "Title of Movie" type="text">
    </div><br>
    <button class="btn btn-primary" type="submit">Submit</button>
</form>
{% endblock %}